<p>sensors-data works!</p>

<!-- String interpolation -->
<!-- <p>{{firstName}}</p>
<p>{{firstName}} {{lastName}}</p>
<p>{{number1 + number2}}</p> -->

<!-- Property Binding -->
<!-- <button [disabled]="disabled">Disabled button</button>
<img [src]="imageUrl" [alt]="imageName" width="500" height="600"> -->

<!-- Event Binding
<button [disabled]="disabled" (click)="onClick()">I am a button</button> -->

<!-- <input type="text" [value]="title" (keyup)="updateTitel($event)">
<h2>{{title}}</h2> -->

<!-- <input type="text" [(ngModel)]="title">
<h2>{{title}}</h2> -->

<!-- <div *ngIf="displaySection">
    <p>Test</p>
    <p>Diese Section war gerade nicht da</p>

    <p *ngFor="let person of list">{{person.name}}</p>
</div> -->
