<div class="modal fade" id="addSensorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSensorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addSensorModalLabel">Add Sensor Data</h1>
      </div>
      <div class="modal-body" *ngIf="this.addForm">
        <form [formGroup]="this.addForm">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Sensor</mat-label>
            <mat-select formControlName="sensorId">
              <mat-option *ngFor="let sensor of this.sensoren" [value]="sensor.id" >
                {{sensor.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill" >
            <mat-label>Temperature</mat-label>
            <input matInput type="number" formControlName="temperature">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label >Humidity</mat-label>
            <input matInput type="number" formControlName="humidity">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
          <button type="submit" data-toggle="modal" data-target="#addSensorModal" class="btn btn-primary" (click)="this.onAddDataClick($event)" [disabled]="!this.addForm?.valid" style="width: 100%; border-radius: 2rem;">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--id: number;
    date: Date;
    temperature: number,
    humidity: number
    sensor: Sensor-->
